<div class=container>
  <div>
    <div class="table-header">
      <div class="table-header__col" *ngFor="let char of headers; trackBy:trackBy">
        {{ char }}
      </div>
    </div>

    <div class="table-body" *ngFor="let row of arrayInputs; trackBy:trackBy">
      <div class="table-body__col" *ngFor="let column of row; trackBy:trackBy">
        <input *ngIf="column.id !== '#'"
               type="text"
               [value]="column.value"
               (blur)="onUpdate($event, column.id)"
               />
        <span *ngIf="column.id === '#'">{{column.value}}</span>
      </div>
    </div>
  </div>
  <div class="message" *ngIf="showMessage">In this table no expressions</div>

  <button id="calc"
          class="btn btn-calc"
          (click)="calculate()">
          Calculate
  </button>
  <button class="btn btn-new"
          routerLink="/home">
          Generate new table
  </button>
</div>
