.table-header{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  &__col{
    width: 100px;
    padding: 0 1px;
    background: #AFCDE7;
    color: white;
    border-right: 1px solid #fff;
    box-sizing: content-box;
    &:first-child{
      width: 20px;
    }
    &:last-child{
      border-right-color: #AFCDE7;
    }
  }
}

.table-body{
  display: flex;
  justify-content: center;
  align-items: baseline;
  &__col{
    padding: 0 1px;
    width: 100px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #AFCDE7;
    box-sizing: content-box;
    &:first-child{
      width: 20px;
      text-align: center;
      background: #D8E6F3;
    }
    input{
      padding: 0;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
    }
  }
}

table {
    margin: 20px auto;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    th{
      background: #AFCDE7;
      color: white;
      padding: 10px 20px;
    }
    td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }
    td {
        background: #D8E6F3;
    }
    th:first-child, td:first-child {
        text-align: left;
    }
}

.btn-calc{
    position: relative;
    display: block;
    margin: 20px auto;
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    background: rgb(35, 152, 248);
    text-decoration: none;
    color: white;
    letter-spacing: .08em;
    text-transform: uppercase;
    transition: background-color .6s ease;
    overflow: hidden;
    border: none;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%,-50%,0);
        background: rgba(white,.1);
        border-radius: 100%;
        transition: width .3s ease, height .3s ease;
    }
    &:focus,
    &:hover {
        background: darken(rgb(35, 152, 248),10%);
    }
    &:active {
        &:after {
        width: 200px;
        height: 200px;
        }
    }
}
