@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Pacifico&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
h1{
  font-family: 'Pacifico', cursive;
  margin: 20px;
  font-size: 40px;
  text-align: center;
  color: #3d8ebd;
}
.form-group{
  position: relative;
}
.form-generate{
  position: relative;
  width: 15%;
  margin: 0 auto;
  overflow: hidden;
  input{
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: #1e1f22;
    padding-top: 20px;
    border: none;
    outline: none;
    }
  }
  .ng-dirty.ng-valid + label:after{
    border-bottom-color: #70cf70;
  }
  .ng-dirty.ng-invalid + label:after{
    border-bottom-color: #f15151;
  }
  .ng-dirty.ng-valid + label .content-name{
    color: #70cf70;
  }
  .ng-dirty.ng-invalid + label .content-name{
    color: #f15151;
  }
  label{
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #000;
    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      bottom: -1px;
      border-bottom: 3px solid #5fa8d3;
      transition: all .5s ease;
    }
    .content-name{
      position: absolute;
      bottom: 5px;
      left: 0;
      font-size: 14px;
      color: #5fa8d3;
      transform: translateY(-150%);
    }
  }
  .btn{
    display: block;
    margin: 20px auto;
    text-decoration: none;
    border:1px solid #70cf70;
    font-family:arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #70cf70;
    background-image: linear-gradient(to top, #a2d3a2, #70cf70);
    &:disabled{
      border:1px solid #25729a;
      background-color: #3093c7;
      background-image: linear-gradient(to top, #3093c7, #1c5a85);
      cursor: not-allowed;
      opacity: 0.4;
    }
}
.btn:hover{
    border:1px solid #fff;
    background-color: #70cf70;
    background-image: linear-gradient(to top, #a2d3a2, #70cf70);
}
.table-header{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  &__col{
    width: 100px;
    background: #AFCDE7;
    color: white;
    border-right: 1px solid #fff;
    &:first-child{
      width: 20px;
    }
    &:last-child{
      border-right-color: #AFCDE7;
    }
  }
}

.table-body{
  display: flex;
  justify-content: center;
  &__col{
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #AFCDE7;
    background: #D8E6F3;
    width: 100px;
    &:first-child{
      width: 20px;
      text-align: center;
    }
    input{
      width: 100%;
      border: none;
    }
  }
}

table {
    margin: 20px auto;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    th{
      background: #AFCDE7;
      color: white;
      padding: 10px 20px;
    }
    td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }
    td {
        background: #D8E6F3;
    }
    th:first-child, td:first-child {
        text-align: left;
    }
}

.btn-calc{
    position: relative;
    display: block;
    margin: 20px auto;
    padding: 16px 42px;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.5);
    background: rgb(35, 152, 248);
    text-decoration: none;
    color: white;
    letter-spacing: .08em;
    text-transform: uppercase;
    transition: background-color .6s ease;
    overflow: hidden;
    border: none;
    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform-style: flat;
        transform: translate3d(-50%,-50%,0);
        background: rgba(white,.1);
        border-radius: 100%;
        transition: width .3s ease, height .3s ease;
    }
    &:focus,
    &:hover {
        background: darken(rgb(35, 152, 248),10%);
    }
    &:active {
        &:after {
        width: 200px;
        height: 200px;
        }
    }
}
